body{
    margin: 0;
}
.header {
    position: relative;
    text-align: center;
    
}
.header-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    outline-offset: 20px;
    margin: 20px;
    border: solid black 4px;
}
.headshot img {
    width: 65px;
    border-radius: 50%;
}
.headshot h1{
    font-size: 20px;
    color: #950740;
    font-family: 'Ultra', serif;
}
.headshot h2{
    font-size: 20px;
    color:#950740;
}
.headshot {
    margin: auto;
}
.twitter{
    text-align: center;
    
}
.twitter a{
    padding: 0;
    margin:0;
    font-size: 20px;
}

.about{
    font-family: 'Ultra', serif;
    text-align: center;
    background-color: rgb(192, 90, 218);
    
}
.about a:hover{
    color: #950789
}
.about a{
    text-decoration: none;  
    color:#950740;
    padding-top: 50px;
}
.short{
    font-family: 'Oswald', sans-serif;
    text-align: center left;
    background-color: rgb(192, 90, 218);
    padding-bottom: 20px;
}
.short a{
    text-decoration: none;
    padding: 5px 10px;
    border-radius:5px;
    background-color: #2a1b3d;
    color: #950740;
    margin-top:20px;
}
.short h3{
    color:#950740;
}
.proud{
    font-family: 'Oswald', sans-serif;
    background-color:#44318d;
}
.proud h3{
    color: #ffffff;
}
.proud h5{
    color:#a4b3b6;
}
.html{
    background-color: #44318d;
    text-align: center;
    color: white;
}
.magnolia{
    font-family: 'Oswald', sans-serif;
    background-color: #44318d;
    padding-bottom: 20px;
}
.magnolia h3{
    color: #ffffff;
}
.magnolia p{
    color: #a4b3b6;
}
.magnolia img{
    width: 100%;
}
.magnolia a{
    padding: 5px 10px;
    border-radius:5px;
    background-color: #2a1b3d;
    color: #950740;
    margin-top:20px;
    text-decoration: none;
}
.international{
    font-family: 'Oswald', sans-serif;
    background-color: #44318d;
    padding-bottom: 20px;
}
.international h3{
    color: #ffffff;
}
.international img{
    width:100%;
}
.international p{
    color:#a4b3b6;
}
.international a{
    padding: 5px 10px;
    border-radius:5px;
    background-color: #2a1b3d;
    color: #950740;
    margin-top:20px;
    text-decoration: none;
}
.javaScript {
     text-align: center;
     background-color: #44318d;
}
.javaScript {
    color: white;
}
.atm {
    font-family: 'Oswald', sans-serif;
    background-color: #44318d;
    position: relative;
}
.atm a {
    padding: 5px 10px;
    border-radius:5px;
    background-color: #2a1b3d;
    color: #950740;
    margin-top:20px;
    text-decoration: none;
}
.atm h3 {
    color: white;
}
.atm img{
    width: 550px;
    height: 350px;
}
.joke {
    font-family: 'Oswald', sans-serif;
    background-color: #44318d;
}
.joke a{
    padding: 5px 10px;
    border-radius:5px;
    background-color: #2a1b3d;
    color: #950740;
    margin-top:20px;
    text-decoration: none;
}
.joke h3 {
    color: white;
}
.joke img {
    width: 550px;
    height: 350px;
}
.contact{
    font-family: 'Oswald', sans-serif;
    text-align: left;
    background-color:rgb(192, 90, 218);
}
.contact li{
    list-style: none;
    position: relative;
    right: 40px;
}
.contact p{
    text-align: left;
}
@media(min-width: 1200px){
    
    .about{
        text-align: center;
        padding-top: 30px;
    }
    .about a{
       font-size: 25px;
       padding-left: 25px;
       padding-left: 25px;
   }
   .headshot a{
       font-size: 20px;
   }
   .headshot img {
    width: 100px;
    border-radius: 50%;
   }
   .headshot h1{
        margin-top: 10px;
        font-size: 50px;
        color: #950740;
        font-family: 'Ultra', serif;
    }
    .headshot h2{
        font-size: 40px;
        color:#950740;
    }
    .twitter a{
        padding: 0;
        margin:0;
        font-size: 50px;
    }
}